{assoc                   [[:block 1]]
 flow                    [[:block 1]]
 match?                  [[:inner 0]]
 quick-check             [[:block 1]]
 verify                  [[:block 1]]
 verifying               [[:block 1]]}
