{:migrations [{:title       "Uncage silence"
               :description "Silence doesn't need a container"
               :created-at  "2021-03-16"
               :id          1
               :command     ["../service-migrations/migration-a.sh"]}

              {:title       "Failing migration"
               :description "Change some things then fail"
               :created-at  "2021-03-17"
               :id          2
               :command     ["../service-migrations/migration-b.sh"]}

              {:title       "move file + update contents"
               :description "Renames a file and also alters its contents"
               :created-at  "2021-03-17"
               :id          3
               :command     ["../service-migrations/migration-c.sh"]}

              {:title       ""
               :description ""
               :id          4
               :created-at  "2021-03-29"
               :command     ["../service-migrations/migration-d.sh"]}]

 :post       [{:title       "cleanup"
               :command     ["../service-migrations/cleanup.sh"]}]}
