name: Clojure CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  test-clojure:

    strategy:
      matrix:
        java-version: [8, 11]

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}

      - name: Print java version
        run: java -version

      - name: setup git
        run: git config --global user.email "you@example.com" && git config --global user.name "Your Name"

      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@3.2
        with:
          cli: 1.10.1.693 # Clojure CLI based on tools.deps

      - name: Run clj tests
        run: clojure -M:test:test-runner
