name: Clojure CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test-using-java-8:
    name: 'Test using Java 8'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v1
      with:
        java-version: 8

    - name: Print java version
      run: java -version

    - name: Run clj tests
      run: clj -A:test:test-runner

  test-using-java-11:
    name: 'Test using Java 11'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v1
      with:
        java-version: 11

    - name: Print java version
      run: java -version

    - name: Run clj tests
      run: clj -A:test:test-runner
